{
    servers {
        protocols h1
    }
}

https://{$DOMAIN_NAME}:8443 {
    log {
        output stderr
        format console
    }

    # This avoids lets encrypt
    tls internal

    reverse_proxy https://nyaa.si {
        header_up Host nyaa.si
        header_up User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
	    header_up Accept-Encoding identity
    }
}
